/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c4a50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: grid;
  min-height: 100dvh;
  color: #5BBFEA;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
 "Josefin Sans", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -50px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  height: auto;
  width: auto;
  margin: auto;
  overflow: visible;
  white-space: normal;
}

details.hamburger summary {
    list-style: none;
    color: #5BBFEA;
    font-size: 10em;
  }


details.hamburger summary::-webkit-details-marker {
    display: none;
  }
.linkButton {
  color: #5BBFEA;
  font-size: 3em;
  text-decoration: none;
}
.menu li {
  list-style: none;
}

.menu ul{
  background-color: black;
}

  .hero {
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
  }


  .headerImg{
    max-width: 100dvw;
    margin: -100px 0 0 0;
    object-fit: cover;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    justify-self: end;
    pointer-events: none;
  }

  h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 6em;
    text-wrap: pretty;
    text-wrap: wrap;
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: start;
    line-height: 0.8em;
  }
  h2 {
    font-weight: 1000;
  }
  p{
    line-height: 1em;
  }
.logo {
  height: 100px;
}

.blurb {
  grid-column: span 2;
  -webkit-text-stroke: 2px black;
  color: white;
  paint-order: stroke fill;
  padding: 10px;
}

@media (min-width: 1024px) {
.hero {
  position: relative;
  height: 100dvh;
  width: 100dvw;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6em;
  text-wrap: pretty;
  position: absolute;
  top: 20%;
  left: 5%;
}
.headerImg{
  max-height: 100dvh;
  float: right;
  margin: -100px 0 0 0;
  position: relative;
  object-fit: cover;
}

.blurb {
  position: absolute;
  bottom: 0;
  left: 0;
}

  .logo {
    height: 100px;
  }
}
