/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c4a50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: grid;
  min-height: 100%;
  color: #5bbfea;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}

main {
  width: 100dvw;
}
/* Hamburger */
.menu {
  position: sticky;
  position: relative;
  z-index: 2;
  padding: 20px;
  top: 0;
  right: 0;
  width: 100dvw;
}
details {
  position: absolute;
  top: 0;
  right: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  height: auto;
  width: auto;
  margin: auto;
  overflow: visible;
  white-space: normal;
}

details.hamburger summary {
  list-style: none;
  color: #5bbfea;
  font-size: 10em;
  text-align: right;
  line-height: 0.8em;
}

details.hamburger summary::-webkit-details-marker {
  display: none;
}

.linkButton {
  color: #5bbfea;
  font-size: 3em;
  text-decoration: none;
  -webkit-text-stroke: 2px black;
  paint-order: stroke fill;
}
.linkButton:hover {
  color: white;
}
.menu li {
  list-style: none;
}

.menu ul {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em;
}
a:hover {
  color: white;
}

/* All */
.hero {
  width: 100%;
}

.headerImg {
  position: relative;
  max-width: 90dvw;
  margin: 50px;
  object-fit: cover;
  grid-column: 2;
  grid-row: 1;
  float: right;
  pointer-events: none;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5em;
  text-wrap: pretty;
  text-wrap: wrap;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-self: start;
  line-height: 0.8em;
  margin-left: 20px;
  margin-top: 0px;
}
h2 {
  font-weight: 1000;
  font-size: 1.5em;
}

p {
  line-height: 1em;
  font-size: 1.5em;
}

.logo svg {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  height: 180px;
  width: 60dvw;
}

footer {
  width: 100dvw;
  display: flex;
  gap: 10px;
  padding: 20px;
}
footer h4 {
  font-size: 2em;
}

footer li {
  display: inline;
  margin: 20px;
}
/* Home */
.blurb {
  grid-column: span 2;
  color: white;
  -webkit-text-stroke: 2px black;
  paint-order: stroke fill;
  text-wrap: pretty;
  padding: 20px;
  max-width: 100%;
  clear: right;
}

/* Cards (CV) */

.cardBlock {
  display: block;
  gap: 50px;
  padding: 100px 50px 0px 20px;
}

.cardBlock h2 {
  line-height: 1em;
  margin-top: 50px;
}

.cardBlock h4 {
  font-size: 2em;
  margin-top: 0px;
}
.cardBlock li {
  font-size: 1.5em;
}

/* Portfolio */
.caseStudyButton {
  color: #5bbfea;
  font-size: 3em;
  text-decoration: none;
  -webkit-text-stroke: 2px black;
  paint-order: stroke fill;
}
.portfolioPage {
  margin-top: 50px;
}

.headerTitle {
  position: absolute;
  top: 0;
  left: 0;
}

.portfolioPage details,
p {
  font-size: 1.5em;
  margin-bottom: 30px;
}
.portfolioPage img {
  max-width: 100%;
}

/* 404 */
.fourO p {
  margin: 0;
  font-size: 3em;
}

.homeButton {
  font-size: 3em;
  line-height: 2em;
}

/* Contact */
.contactCards {
  display: flex;
  flex-direction: column;
}
.contactCards {
  width: 95dvw;
  padding: 20px;
}
.contactPage h1 {
  max-width: 80%;
  margin: -70px 0 0 20px;
}
.contactPage h2 {
  max-width: 80%;
  margin: 0 0 0 20px;
}
.contactPage svg,
.contactPage svg g {
  fill: #5bbfea;
}

.contactPage svg:hover,
.contactPage svg g:hover,
.contactPage linkButton:hover {
  fill: white;
}

.contactPage svg {
  height: 50px;
  width: 50px;
  float: left;
}

.contactPage details {
  position: static;
}
.contactPage details,
.portfolioPage details {
  position: static;
}

/* Cards Layout (CV) */
.wrap-image-card {
  width: 90dvw;
  margin-top: -90px;
  z-index: 1;
  float: right;
}

.headerTitle {
  margin-top: 150px;
  z-index: -1;
}
.card {
  width: 95dvw;
  text-wrap: pretty;
}

/*Blog */

.blogPost h1 {
  color: white;
  text-decoration: none;
}
.blog a {
  color: #5bbfea;
  text-decoration: none;
  font-size: 1.5em;
}
.blog a:hover {
  color: white;
}

.blogImg {
  width: 100%;
}

@media (min-width: 1024px) {
  /* Home */
  .hero {
    position: relative;
    height: 550px;
  }
  .blurb {
    clear: none;
  }

  .homeWrapImage {
    shape-outside: url("josthinkingnew.png");
    shape-margin: 15px;
  }
  /* Hamburger */
  .menu {
    position: sticky;
    top: 20px;
    right: 20px;
  }

  /* All */
  h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 8em;
    text-wrap: pretty;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 80px;
  }

  h2 {
    font-size: 4em;
    margin-top: -120px;
  }

  p {
    font-size: 3em;
    text-wrap: pretty;
  }
  .logo svg {
    height: 200px;
    width: 200px;
  }
  .headerImg {
    height: 200dvh;
    margin: -300px 0 0 0;
    position: relative;
    object-fit: cover;
  }

  /* Cards (CV) */
  .wrap-image-card {
    shape-outside: url("josProff2.png");
    shape-margin: 15px;
    float: right;
    width: 50dvw;
  }
  .cardBlock {
    padding: 200px 50px 0px 100px;
  }

  .cardBlock li {
    font-size: 3em;
  }
  .headerTitle {
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
  }

  /* 404 */
  .fourO p {
    margin: 60px 50% 0 50px;
    font-size: 5em;
    font-family: "Josefin Sans", sans-serif;
    text-wrap: pretty;
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 50px;
  }

  .fourO .headerImg {
    height: 150dvh;
    margin: -200px 0 0 0;
    position: relative;
    object-fit: cover;
  }

  .homeButton {
    font-size: 3em;
    line-height: 2em;
    position: absolute;
    bottom: 0;
  }
  /* Contact */
  .contactCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .contactPage h1 {
    margin: 220px 0 0 30px;
  }
  .contactPage h2 {
    margin-top: 120px;
    width: 90dvw;
  }

  /* Portfolio */
  .portfolioPage img {
    max-width: 45%;
  }
  .wrap-image {
    shape-outside: url("josProff.png");
    shape-margin: 15px;
    margin-top: -100px;
  }

  /* Blog */
  .blogImg {
    width: 90%;
    justify-self: centre;
  }
  .blogPost {
    margin: 500px 100px 50px 100px;
  }
  .blogPost h1 {
    top: 20%;
    margin: 100px 100px;
  }
}
