{{define "title"}}
{{end}}
{{ define "header"}}
<header>
  <div class="menu">
    <details class="hamburger">
      <summary>
        <span role="presentation"> ☰ </span>
        <span class="sr-only">Menu</span>
      </summary>
        <ul>
        {{ range ( slice  "contact" "cv" "blog" "portfolio" ) }}
        {{ with $.Site.GetPage . }}
        <li><a class="linkButton" href="{{ .RelPermalink }}"> {{ .Title }}</a></li>
        {{ end }}
      {{ end }}
      </ul>

    </details>
  </div>

  <div class="logo">
   <a class="logoImg" href="{{.Site.Home.Permalink}}">
     {{ readFile "static/logo.svg" | safeHTML }} </a>
  </div>
</header>
{{end}}

{{ define "navBar"}}
<div class="navBar main">
        <ul>
          {{ range .Resources.Match "experience/*.md" }}
                <li><a class="linkButton" href="#{{ .Title | anchorize }}">[{{ .Title }}]</a></li>
            {{ end }}
        </ul>
        <ul>
          {{ range .Resources.Match "education/*.md" }}
                <li><a class="linkButton" href="#{{ .Title | anchorize }}">[{{ .Title }}]</a></li>
            {{ end }}
        </ul>
</div>
{{end}}

{{define "main" }}

<main>
  <h1> {{ .Title }} </h1>
  {{ range .Resources.Match "experience/*.md" }}
  <h2>  {{ .Title }}  </h2>
    {{ .Content }}
  {{end}}
  {{ range .Resources.Match "education/*.md" }}
  <h2>  {{ .Title }} </h2>
    {{ .Content }}
  {{end}}

</main>
{{end}}
