{{ define "title" }}
{{ end }}

{{ define "main" }}
  <main>

    <h1 class="headerTitle">
      Josephine <br />
      Snow CV
    </h1>
    <img class="wrap-image-card headerImg" src="/josProff2.png" />
    <div class="cardBlock">
      <div class="content card sr-only">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
      {{ range .Resources.ByType "page" }}
        <div class="content card subpage" id="{{ .Title | anchorize }}">
          <h2>{{ .Title }}</h2>
          {{ .Content }}
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}
